.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: lightskyblue;
    width: 650px;
  }
  
  .description {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 350px;
  }
  
  .avatar {
    display: block;
    width: 150px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: gray;
  }
  .tag {
    margin-top: 0;
    padding-top: 0%;
  }
  
  .name {
    font-size: 44px;
    line-height: 1.62;
    font-weight: 700;
    color: #0f0f4f;
    margin-top: 10px;
  }
  
  .userInfo {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.58;
    font-weight: bold;
  }
  
  .stats {
    background-color: lightsteelblue;
    width: 350px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style-type: none;
    align-items: center;
  }
  
  .stats li {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-top: 1px solid #0f0f4f;
    border-right: 1px solid #0f0f4f;
  }
  
  .stats li:last-child {
    border-right: none;
  }
  
  .label {
    display: flex;
    line-height: 1.62;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    justify-content: center;
  }
  
  .quantity {
    text-align: center;
    line-height: 1.58;
    font-weight: bold;
    margin: 10px auto;
  }