.friendListItem {
    padding: 5px 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 0px 0px 4px 4px;
    background: white;
    box-shadow: 0px 2px 1px 3px rgba(46, 47, 66, 0.08),
      0px 1px 1px 3px rgba(46, 47, 66, 0.16),
      0px 1px 6px 3px rgba(46, 47, 66, 0.08);
  }
  .avatar {
    border-radius: 15px;
    width: 120px;
    height: 120px;
    border: 2px;
    background-color: lightcyan;
  }
  
  .status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .online {
    
    background-color: green !important;
  }
  
  .offline {
    
    background-color: red !important;
  }